<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная - Здоровье петербуржца</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<link type="Image/x-icon" href="http://favicon.yandex.net/favicon/gorzdrav.spb.ru" rel="icon">
	<link type="Image/x-icon" href="http://favicon.yandex.net/favicon/gorzdrav.spb.ru" rel="shortcut icon">
</head>



<body bgcolor="#f0f4f9">
	<header id="header" class="header">
		<div class="container">
			<img src="image/logo.svg" alt="Здоровье петербуржца" class="logo">
			<div class="nav-1">
				<ul class="nav-1">
					<li>
						<a href="#">
							СЕРВИСЫ
						</a>
					</li>
					<li>
						<a href="#">
							ПОЛЕЗНАЯ ИНФОРМАЦИЯ
						</a>
					</li>
					<li>
						<a href="#">
							НОВОСТИ
						</a>
					</li>
				</ul>
			</div>
			<div class="nav-2">
				<img src="image/navigation-1.svg" alt="navigation-1">
				<div class="group-1">
					<img src="image/navigation-2.svg" alt="navigation-2">
				</div>
				<div class="group-2">
					<img src="image/navigation-3.svg" alt="navigation-3">
				</div>
			</div>
		</div>
	</header>

	<section id="popular" class="popular">
		<div class="container">
			
		</div>
	</section>

	<section id="about" class="about">
		<div class="ab-content">
			<div class="ab-container">
				<div class="ab-body">
					<h1>
						Портал электронных сервисов системы здравоохранения<br />"Санкт-Петербурга"
					</h1>
					<div class="ab-text">Для доступа ко всем сервисам войдите в личный кабинет</div>
					<div class=buttons>
						<button class="button-1">
							Войти
						</button>
						<button class="button-2">
							Зарегистрироваться
						</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="ab-img">
		<img src="image/header.jpg" alt="back" style="width:100%;">
	</div>

	<section id="services" class="services">
		<div class="container">

		</div>
	</section>
</body>
</html> 