{% extends 'teasite/layout.html' %}
{% load static %}
{% block content %}
	<section class="about">
			<div class="aboutcontainer">
				<h2>О разработке</h2>
				<p class="aboutinfo"> Инициатива создания Портала электронных сервисов здравоохранения принадлежит Комитету по здравоохранению и Администрации города Санкт-Петербурга для оперативного и эффективного взаимодействия жителей с системой здравоохранения.
					В 2020 году интерфейс нового Портала был кардинально изменён, став более удобным и интуитивно понятным для использования широким кругом пользователей.</p>
			</div>
	</section>

	<div class="ab-img">
		<img src="{% static 'teasite/img/background.jpg' %}" alt="back" style="width:100%;">
	</div>
{% endblock %}
